.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  max-width: 350px;
  padding: 15px 10px;
  border: 1px solid gray;
  border-radius: 6px;
}

.inputField {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 6px;
}

.inputField:focus {
  outline: none;
  border-color: blue;
}

.addBtn {
  padding: 4px 8px;
  background-color: rgb(178, 235, 178);
  border: 1px solid rgb(123, 235, 123);
  border-radius: 6px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(163, 247, 163);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
